<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') -%>
    <style >
      .admin{
        margin:auto;
          text-align:center;

         
      }
      .admin h1{
          margin:auto;
          text-align:center;
      }

      

      .panels{
          box-sizing: border-box;
        display: flex;
          flex-wrap: wrap;
          background-color:hsl(179, 2%, 96%);
          min-height: 70vh;
          margin: auto;
          text-align: center;
          padding: 5em;
          border-radius: 20px;
          justify-content: space-between;
      }

      .news-panel{
        box-shadow: 2px 2px 2px 2px #888888;
        border-radius: 10px;
        padding: 5px;
        width: 40%;
      }
      .news-panel:hover{
          width:41%;
          
      }

      .news-panel h2{
          margin: auto;
          text-align: center;
          color:#104634;
      }
.news-panel ul{
    padding: 10px;
    font-size: 1.5em;
} 
.news-panel ul li{
    margin: .7em;
    padding: .5em;
    height: 1.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #888888;

   
} 

      .news-edit-panel{
        padding: 5px;
        width: 40%;
      }
.news{
  margin:auto;
  text-align:center;
     min-height:400px;
      width:70%;
}
  .news ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
margin:0;
padding:0;
    
  }

  .news ul li{
    list-style: none;
    margin: 0;
    padding:0;
  }
  .news ul li a{
    margin: 0;
    padding:0;
    width:15em;
    background-color: white;
    color: black;
  }
  .news ul li a:hover{
  text-decoration: underline;
  }
.news h2{
  margin: 30px;
  padding: 0;
font-size: 2em;
}
.news p{
    margin: 8px;
    padding:8px;
    width:wrap-content;
    background-color: white;
    color: black;
  }
  </style>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') -%>
</header>

<main>
   <div class="admin">   
      <h1>Admin Page</h1>
  <div class="panels"> 
  
    <div class="news-panel">
        <h2> News</h2>
        <hr />
        <ul>
         
        </ul>
    </div>
<div class="news-edit-panel">
   <div class="news">
      <h2>Latest News</h2>
      <ul>
        <li>        
            <a href="#">
              CNRI awards KCA Deutag a multi-million pound drilling contract for
              three UK North Sea platforms<p>2 December 2019</p>
            </a>
         
        </li>
        <li>
            <a href="#">
              KCA Deutag secures $460m of land drilling contracts in the Middle
              East, Africa and Europe<p>2 December 2019</p>
            </a>
        </li>
        <li>
            <a href="#">
              Bentec wins multi-million euro contract for seven 320t cluster
              slider drilling rigs<p>2 December 2019</p>
            </a>
        </li>
      </ul>
    
    </div>
</div>

    </div>
  </div>

  
</main>

<footer>
    <%- include ('../partials/footer') -%>
</footer>

</body>
</html>