<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') -%>
<style>
      /* CSS */

      * {
        font-family: arial, sans-serif;
      }
      .login{
          text-align: center;
          margin: auto;
      }
      label {
        font-size: 20px;
      }
      div {
        margin-bottom: 30px;
      }
      input,
      textarea {
        border: 0;
        border-bottom: 1px solid gray;
        padding: 10px 0;
        width: 200px;
      }
      form,
      fieldset {
        border: 0;
      }

      button {
        background: #999;
        border: 0;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        height: 40px;
        width: 190px;
        text-transform: uppercase;
      }
      button:hover{
          background: blue;
      }
    
    button:active{
        height: 42px;
        width: 200px;

    }

      select {
        background: transparent;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid gray;
        box-shadow: none;
        color: #666;
        padding: 10px 0;
        width: 200px;
        -webkit-appearance: none;
      }
      .select-wrapper {
  position: relative;
  width: 200px;
}

.select-wrapper:after {
  content: '< >';
  color: #666;
  font-size: 14px;
  top: 8px;
  right: 0;
  transform: rotate(90deg);
  position: absolute;
  Z-index: -1;
}

input:valid,
textarea:valid {
  border-bottom-color: green;
}
input:invalid,
textarea:invalid {
  border-bottom-color: red;
}
    </style>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') -%>
</header>

<main>  

  <div class="login">
  <br />
  <br />
<br />
    <h1>Login to Admin Panel</h1>
    <br />

    <form action="/login" method="post">
      <fieldset>
    
<div>
          <label for="first_name" >email:</label> <br />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter email address"
            required
          />
</div>
        <div>
          <label for="last_name" >Password:</label><br />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter password"
            required
          />
        </div>
        <button type="submit">Submit</button>
         <% if (status == "error") {
             console.log(message);
                     message.forEach(function(error_msg){ %>
                      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                    <% });
                    } 
                    
            %>
      </fieldset>
    </form>
  
</main>

<footer>
    <%- include ('../partials/footer') -%>
</footer>
</div>
</body>
</html>